*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none
}
ul{
    list-style: none;
}
p{
    font-size: 17px;
    line-height: 29px;
    margin-top: 27px;
    font-family: 'Lora', serif;
    font-weight: 400;
    color: rgb(109, 106, 106);
}
h1{
    font-family: 'Playfair Display', serif;
    color: rgb(0, 0, 0);
    line-height: 51px;
    font-weight: 400;
    font-size: 41px;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Playfair+Display&family=Poppins:wght@200;300;400;500;600;700&display=swap');


  #nav{
      background-color: #fff;
      position: sticky;
      top:0;
      #nav{
          width: 100%;
      }
    a{
        color: #1b1b1b;
        font-size: 12px;
        font-weight: 500;
    }
    img{
        width: 100%;
    }
  }

#slider{
    background-image: url(../photos/slider-bg.jpg);
    padding: 5rem 0;
    background-size: cover;
    background-position: center;
}
#slider{
    span{
        color: #FF0000 ;
    }
}
#catalogue{
    ul{
        margin: 15px 0;
    }
    li{
        margin-right: 25px;
    }
    a{
        color: #1b1b1b;
        font-size: 12px;
        letter-spacing: .1em;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        transition: .5s;

        &:hover{
            color: #FF0000;
        }
    }
    img{
        width: 100%;
    }
    .text{
        text-align: center;
    }
}

#valentine{
    background-color: #F7F7F7;
    padding: 50px 0;
    .left{
        width: 100%;
    }
    .val{
        font-size: 38px;
        line-height: 1.447em;
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        color: #f34f3f;
    }
   
    span{
        font-size: 17px;
        line-height: 29px;
        margin-top: 27px;
        font-family: 'Lora', serif;
        font-weight: 400;
        color: rgb(109, 106, 106);
    }
    span{
        margin: 20px 0;
        line-height: 1.6em;
    }
}
#experts{
    .col-lg-3{
        text-align: center;
    }
    h6{
        color: #1b1b1b;
        font-size: 12px;
        letter-spacing: .1em;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        margin-top: 15px;
    }
    span{
        font-size: 17px;
        line-height: 29px;
        margin-top: 27px;
        font-family: 'Lora', serif;
        font-weight: 400;
        color: rgb(109, 106, 106);
    }
    p{
        width: 50%;
        display: inline-block;
    }
}
#subscribe{
    background: url(../photos/subscribe.jpg);
    padding: 5rem 0;
    background-size: cover;
    background-attachment: fixed;
    form{
        border: none;
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: 0 auto;
        
    }
    input{
        border: none;
        width: 70%;
        padding: 0 1rem;
        height: 60px;
    }
    button{
        border: none;
        background-color: #FF3D2A;
        color: #fff;
        width: 30%;
    }
    h3{
        color: white;
        font-family: 'Playfair Display', serif;
        line-height: 1.4em;
        font-weight: 400;
        font-size: 30px;
    }
}
#blog{
    background-color: #F8F8F8;
    img{
        width: 100%;
        transition: .5s;
    }
    .top-p{
            width: 50%;
            display: inline-block;
    }
    a{
        font-family: 'Playfair Display', serif;
        line-height: 1.4em;
        font-weight: 100;
        font-size: 20px;
        color: #000;
    }
    .bottom{
        display: flex;
    }
    .col-lg-4{
        vertical-align: bottom;
        .img{
        overflow: hidden;
            
        }
        &:hover img{
            transform: scale(1.1);
        }
    }
}
#info{
    h6{
        color: #1b1b1b;
        font-size: 14px;
        letter-spacing: .1em;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        margin-top: 15px;
    }
    span{
        font-size: 17px;
        line-height: 29px;
        margin-top: 27px;
        font-family: 'Lora', serif;
        font-weight: 400;
        color: rgb(109, 106, 106);
    }
    p{
        color: #4b4747;
    font-family:'Lora', serif;
    font-style: italic;
    font-size: 24px;
    line-height: 1.5em;
    width: 50%;
    margin: 0 auto;
    
    }

}